html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--text-color);
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

span {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 20px;
  }
  
  h4 {
    font-size: 18px;
  }
  
  p {
    font-size: 16px;
  }

  span {
    font-size: 14px;
  }
}