:root {
  font-family: 'Noto Sans KR', 'Poppins', sans-serif;
  --primary-color: #264653;
  --point-color: #2A9D8F;
  --sub-color: #F4EDE3;
  --accent-color: #E9C46A;
  --text-color: #333333;
  --footer-text-color: #AAAAAA;
  --background-color: #F8F9F9;
}
